extends layout
    
block content    
    link(rel='stylesheet', href='/css/admin.css')
    .nav
      .logo-container.nav-left
        .app-logo
        .app-name
          h2 IMG-Stream
      .heading.nav-left
        h2 Admin Portal
      .logout-containe.nav-right
        a(href="/logout")
          h2 Logout
    .admin-body
      h2 Users with No Access
      p New users appear in this section, you can also drag an existing user with access in it to revoke its access.
      ul#categories-source.users-list.toBeApproved.categories-sortable
        each i in users_toBeApproved
          li.ui-state-default= i
      .category-container
        .approved-container.choice-div
          h3 Approved:
          ul#categories-chosen.users-list.approved.categories-sortable
            each j in users_approved
              li.ui-state-default= j
        .delete-container.choice-div
          h3 To be deleted
          ul#categories-chosen.users-list.deleted.categories-sortable
      .submit-container
        form(role='form', action="/admin",method="post")
          input(name = 'toBeApproved' id = 'toBeApproved' type='hidden').
          input(name = 'approved' id = 'approved' type='hidden').
          input(name= 'deleted' id='deleted' type='hidden').
          button(type='submit') Submit
    script(src='/js/admin.js').
